<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extrasspringsecurity3">
<head lang="en">
	<meta charset="UTF-8"/>
	<title>Categories</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    

    <!-- Custom CSS -->    
    <link th:href="@{/css/sb-admin.css}" rel="stylesheet" type="text/css"/>

    <!-- Morris Charts CSS -->
    <link th:href="@{/css/plugins/morris.css}" rel="stylesheet" type="text/css"/>

    <!-- Custom Fonts -->
    <link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>

</head>

<body>

	<!-- jQuery -->
    <script th:src="@{/js/jquery.js}"></script>
    
    <!-- jQuery Raty (https://github.com/wbotelhos/raty)-->
    <script th:src="@{/js/jquery.raty.js}"></script>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Bookworm</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
            	<li>
	            	<form th:action="@{/search}" method="get">	
		            	<div class="searchInput">
		            		<input type="text" class="form-control" name="searchParam"/>
		            	</div>
		            	<div class="searchButton">
		            		<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>          
		            	</div>
	            	</form>
            	</li>
                <li class="dropdown" sec:authorize="isAuthenticated()">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> 
                    <b sec:authentication="principal.name"/> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/profile"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a th:href="@{/logout}"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
                <a th:href="@{/login}" class="navbar-brand" sec:authorize="hasRole('ROLE_ANONYMOUS')">Login</a>
                <a th:href="@{/signup}" class="navbar-brand" sec:authorize="hasRole('ROLE_ANONYMOUS')">Sign up</a>
            </ul>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="/"><i class="fa fa-fw fa-star"></i> Popular books</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#categories"><i class="fa fa-fw fa-folder"></i> Categories <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="categories" class="collapse">
                                                	
                        </ul>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a href="/library"><i class="fa fa-fw fa-book"></i> My library</a>
                    </li>
                    <li>
                        <a href="/advanced_search"><i class="fa fa-fw fa-search"></i> Search</a>
                    </li>
                    
                    <li sec:authorize="isAuthenticated()">
                        <a href="/profile"><i class="fa fa-fw fa-user"></i> Profile</a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')">
                        <a href="#" data-toggle="collapse" data-target="#management"><i class="fa fa-fw fa-wrench"></i> Management <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="management" class="collapse">
                            <li>
                                <a href="/management/books">Books</a>
                            </li>
                            <li>
                                <a href="/management/category">Categories</a>
                            </li>
                            <li>
                                <a href="/management/users">Users</a>
                            </li>
                            <li>
                                <a href="/management/statistics">Statistics</a>
                            </li>                       	
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-child"></i> Help</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-newspaper-o"></i> About Project</a>
                    </li>
                </ul> 
            </div>
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header" th:text="${categoryName}">
                            Category
                        </h1>
                        
                    </div>
                </div>
                <div class="media-list" >
					<div class="book-item col-lg-12" th:each="book : ${books}">
				    	<div class="media">
				    		<div class="media-left">
						    	<a th:href="@{/book?id=__${book.id}__}">
				      				<!--img class="media-object" th:src="${book.path}"/-->
				      				<img class="media-object book-item-img" th:src="@{/uploadedPicture?id=__${book.id}__}"/>
							    </a>							    
							 </div>
				      		<div class="media-body">
						    <a th:href="@{/book?id=__${book.id}__}"><h4 th:text="${book.title}" class="media-heading">Book title</h4></a>
						    <h5 th:text="@{Author: __${book.author}__}" class="media-heading">Book author</h5>
						    <div class="ratyRating" th:attr="data-id=${book.id}"></div>
						    <br/><p th:text="${book.description}">Book description</p>
						    
						    <br/><a th:unless="${#lists.contains(usersBooks, &quot;__${book.id}__&quot;)}" 
						    	th:href="@{/library/add?id=__${book.id}__}" 
						    	class="btn btn-success" 
						    	sec:authorize="isAuthenticated()">
						    		Add to library		
						    </a>
						    <a th:if="${#lists.contains(usersBooks, &quot;__${book.id}__&quot;)}" 
						    	th:href="@{/library/add?id=__${book.id}__}" 
						    	class="btn btn-default disabled" 
						    	sec:authorize="isAuthenticated()">
						    		Added		
						    </a>	    
						    <a th:href="@{/edit?id=__${book.id}__}" class="btn btn-warning" sec:authorize="hasRole('ROLE_ADMIN')">Edit</a>
						    <a th:href="@{/delete?id=__${book.id}__}" class="btn btn-danger" sec:authorize="hasRole('ROLE_ADMIN')">Delete</a>
						  </div>
				    	</div>
				  </div>		
				</div>
				
            </div>

        </div>
        
    </div>
    
    <script th:inline="javascript">
    /*<![CDATA[*/
    	var books = [[${books}]];	    
    	$(document).ready(function() {
    		
    		for(var i = 0; i < books.length; i++) {
    			ratyInit(books[i].id, books[i].rating);
			}
    		loadCategories();
    	});
		
		function ratyInit(id, initScore) {
			
			$("div").find("[data-id='" + id + "']").raty({
		    	 path: '/images/raty',
		    	 readOnly: true,
		    	 score: initScore,
		    	 noRatedMsg: 'not rated yet'
		    });
		}
		
		function loadCategories() {
			
			$.ajax({
				type: 'get',
			    url: '/categories/all',
				success: function(data) {
					createElements(data);
				}
			});
		}
		
		function createElements(data) {
			
			for(var i = 0; i < data.length; i++) {
				var url = "/categories/category?id=" + data[i].id;
				$("#categories").append("<li><a href=" + url + ">" + data[i].name + "</a></li>")
			}
		}
	/*]]>*/
    </script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <!-- Morris Charts JavaScript -->
    <script th:src="@{/js/plugins/morris/raphael.min.js}"></script>
    <script th:src="@{/js/plugins/morris/morris.min.js}"></script>
    <script th:src="@{/js/plugins/morris/morris-data.js}"></script>

</body>

</html>
