<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Bootstrap Core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    

    <!-- Custom CSS -->    
    <link th:href="@{/css/sb-admin.css}" rel="stylesheet" type="text/css"/>

    <!-- Morris Charts CSS -->
    <link th:href="@{/css/plugins/morris.css}" rel="stylesheet" type="text/css"/>

    <!-- Custom Fonts -->
    <link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    
</head>

<body>

    <div th:fragment="commentsList" th:unless="${#lists.isEmpty(comments)}" class="comments-block">
		<div class="row">
        	<div class="col-lg-12 comments">
            	<div class="panel panel-primary" th:each="comment : ${comments}">
                	<div class="panel-heading">
                    	<i class="fa fa-fw fa-user"></i> <b class="panel-title" th:text="${comment.author}"></b>
                    </div>
                    <div class="panel-body">
                    	<p class="commentText" th:text="${comment.text}">comment message</p>
                    	<div class="text-right commentDate" th:text="${comment.date}">date</div>
                    </div>
                </div>
            </div>
     	 </div>
	</div>
	
	<!-- jQuery -->
    <script th:src="@{/js/jquery.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <!-- Morris Charts JavaScript -->
    <script th:src="@{js/plugins/morris/raphael.min.js}"></script>
    <script th:src="@{js/plugins/morris/morris.min.js}"></script>
    <script th:src="@{js/plugins/morris/morris-data.js}"></script>
    
</body>
</html>