<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extrasspringsecurity3">
<head lang="en">
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>About Bookworm</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    

    <!-- Custom CSS -->    
    <link th:href="@{/css/sb-admin.css}" rel="stylesheet" type="text/css"/>

    <!-- Custom Fonts -->
    <link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>

</head>

<body>

	<!-- jQuery -->
    <script th:src="@{/js/jquery.js}"></script>
      
    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Bookworm</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
            	<li>
	            	<form th:action="@{/search}" method="get">	
		            	<div class="searchInput">
		            		<input type="text" class="form-control" name="searchParam"/>
		            	</div>
		            	<div class="searchButton">
		            		<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>          
		            	</div>
	            	</form>
            	</li>
                <li class="dropdown" sec:authorize="isAuthenticated()">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> 
                    <b sec:authentication="principal.name"/> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/profile"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a th:href="@{/logout}"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
                <a th:href="@{/login}" class="navbar-brand" sec:authorize="hasRole('ROLE_ANONYMOUS')">Login</a>
                <a th:href="@{/signup}" class="navbar-brand" sec:authorize="hasRole('ROLE_ANONYMOUS')">Sign up</a>
            </ul>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="/books"><i class="fa fa-fw fa-star"></i> All books</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#categories"><i class="fa fa-fw fa-folder"></i> Categories <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="categories" class="collapse">
                                                	
                        </ul>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a href="/library"><i class="fa fa-fw fa-book"></i> My library</a>
                    </li>
                    <li>
                        <a href="/advanced_search"><i class="fa fa-fw fa-search"></i> Search</a>
                    </li>
                    
                    <li sec:authorize="isAuthenticated()">
                        <a href="/profile"><i class="fa fa-fw fa-user"></i> Profile</a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')">
                        <a href="javascript:;" data-toggle="collapse" data-target="#management"><i class="fa fa-fw fa-wrench"></i> Management <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="management" class="collapse">
                            <li>
                                <a href="/management/books">Books</a>
                            </li>
                            <li>
                                <a href="/management/category">Categories</a>
                            </li>
                            <li>
                                <a href="/management/users">Users</a>
                            </li>
                            <li>
                                <a href="/management/statistics">Statistics</a>
                            </li>                       	
                        </ul>
                    </li>
                    <li class="active">
                        <a href="/help"><i class="fa fa-fw fa-child"></i> Help</a>
                    </li>
                    <li>
                        <a href="/about"><i class="fa fa-fw fa-newspaper-o"></i> About Project</a>
                    </li>
                </ul> 
            </div>
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="indigo-text center page-header">Welcome!</h1>
						<div class="description">
							Here you can find a brief description of site sections. <br/>
							<br/>
							For guests: <br/>
							<a href="/">"Main page"</a> - contains five the most rated books. <br/>
							<a href="/books">"All books"</a> - provides access to all books, ten books are displayed on this page. <br/>
							"Categories" - provides the ability to view books that grouped into certain category. <br/>
							<a href="/advanced_search">"Search"</a> - advanced search helps to find books by various parameters. <br/>
							<br/>
							For users: <br/>
							You must send a valid registration form to create an account. You will be able to add and edit information on your profile page. 
							Authorized users also have access to a section called <a href="/library">"My library"</a> which is used for adding favourite books. 
							They have access to "Add to library" button below every book record. 
							You can leave comments and rate a particular book, but notice that you can't change or delete your marks and comments. 
							<br/><br/>
							For admins: <br/>
							Administrators have all rights of regular user and an access to site management: <br/>
							<a href="/management/books">"Books"</a> - you have the ability to add new books, edit records about existing books or remove them. <br/>
							<a href="/management/users">"Users"</a> - you can view information about registered users accounts(status, rights, registration date), remove or ban/unban them. <br/>
							<a href="/management/category">"Categories"</a> - provides the ability to create new categories or remove existing ones. <br/>
							<a href="/management/statistics">"Statistics"</a> - provides access to diagrams that depict the most rated books, the most commented books and favorites books(books that has been added to library by great count of users). 
							<br/><br/>
							Admins also have access to "Edit" and "Delete" buttons below every book record.
						</div>
                    </div>
                </div>
                
            </div>                    

        </div>
        
    </div>

    
    <script th:inline="javascript">
    /*<![CDATA[*/
       
    	$(document).ready(function() {
    		
    		loadCategories();
    	});
		
		function loadCategories() {
			
			$.ajax({
				type: 'get',
			    url: '/categories/all',
				success: function(data) {
					createElements(data);
				}
			});
		}
		
		function createElements(data) {
			
			for(var i = 0; i < data.length; i++) {
				var url = "/categories/category?id=" + data[i].id;
				$("#categories").append("<li><a href=" + url + ">" + data[i].name + "</a></li>")
			}
		}

	/*]]>*/
    </script>


</body>

</html>