<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extrasspringsecurity3">
<head lang="en">
	<meta charset="UTF-8"/>
	<title>Login</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    

    <!-- Custom CSS -->    
    <link th:href="@{/css/sb-admin.css}" rel="stylesheet" type="text/css"/>

    <!-- Morris Charts CSS -->
    <link th:href="@{/css/plugins/morris.css}" rel="stylesheet" type="text/css"/>

    <!-- Custom Fonts -->
    <link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Bookworm</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                
                <a th:href="@{/login}" class="navbar-brand" sec:authorize="hasRole('ROLE_ANONYMOUS')">Login</a>
            </ul>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="/"><i class="fa fa-fw fa-star"></i> Popular books</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-folder"></i> Categories</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a href="#"><i class="fa fa-fw fa-book"></i> My library</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-search"></i> Search</a>
                    </li>
                    
                    <li sec:authorize="isAuthenticated()">
                        <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')">
                        <a href="/add"><i class="fa fa-fw fa-wrench"></i> Management(Add Book)</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-child"></i> Help</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-newspaper-o"></i> About Project</a>
                    </li>
                </ul> 
            </div>
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Login  <small>Please enter your login and password</small>
                        </h1>
                        <div class="col-lg-12">
	                        <h4 class="text-danger"  th:if="${param.error}">
	                        	Invalid user name or password
	                        </h4>
						</div>
                    </div>
                </div>

               	<form class="col s12" action="/login" method="post">
					<fieldset class="col-lg-5">
						<div class="form-group col s12">
							<label for="username">Username:</label>
							<input id="username" name="username" type="text" class="form-control"/>						
						</div>
					
					
						<div class="form-group col s12">
							<label for="password">Password:</label>
							<input id="password" name="password" type="password" class="form-control"/>
						</div>
					
					<div class="form-group">
						<button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
					</div>
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
					</fieldset>
				</form>
				
            </div>

        </div>
        
    </div>

    <!-- jQuery -->
    <script th:src="@{/js/jquery.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <!-- Morris Charts JavaScript -->
    <script th:src="@{js/plugins/morris/raphael.min.js}"></script>
    <script th:src="@{js/plugins/morris/morris.min.js}"></script>
    <script th:src="@{js/plugins/morris/morris-data.js}"></script>

</body>

</html>
