<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extrasspringsecurity3">
<head lang="en">
	<meta charset="UTF-8"/>
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<!-- default header name is X-CSRF-TOKEN -->
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	
	<title th:text="${book.title}">Bookworm</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    

    <!-- Custom CSS -->    
    <link th:href="@{/css/sb-admin.css}" rel="stylesheet" type="text/css"/>

    <!-- Morris Charts CSS -->
    <link th:href="@{/css/plugins/morris.css}" rel="stylesheet" type="text/css"/>

    <!-- Custom Fonts -->
    <link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    	
    

</head>

<body onload="loadComments()">

    <!-- jQuery -->
    <script th:src="@{/js/jquery.js}"></script>
    
    <!-- jQuery Raty (https://github.com/wbotelhos/raty)-->
    <script th:src="@{/js/jquery.raty.js}"></script>
  
    <div id="wrapper">
    
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Bookworm</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown" sec:authorize="isAuthenticated()">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" ><i class="fa fa-user"></i> 
                    <b sec:authentication="principal.name"/><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/profile"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a th:href="@{/logout}"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
                
                <a th:href="@{/login}" class="navbar-brand" sec:authorize="hasRole('ROLE_ANONYMOUS')">Login</a> 
                <a th:href="@{/signup}" class="navbar-brand" sec:authorize="hasRole('ROLE_ANONYMOUS')">Sign up</a>
            </ul>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="/"><i class="fa fa-fw fa-star"></i> Popular books</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-folder"></i> Categories</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a href="/library"><i class="fa fa-fw fa-book"></i> My library</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-search"></i> Search</a>
                    </li>
                    
                    <li sec:authorize="isAuthenticated()">
                        <a href="/profile"><i class="fa fa-fw fa-user"></i> Profile</a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')">
                        <a href="/add"><i class="fa fa-fw fa-wrench"></i> Management(Add Book)</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-child"></i> Help</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-newspaper-o"></i> About Project</a>
                    </li>
                </ul> 
            </div>
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row" th:attr="data-id=${book.id}" id="bookTitle">
                    <div class="col-lg-12">
                        <h2 th:text="${book.title}" class="page-header"></h2>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-12">
                    	<h4 th:text="@{Author: __${book.author}__}" >Author</h4>
                    	<h4 th:text="@{Year: __${book.year}__}" >Year</h4>
                    	<h4 th:text="@{Pages: __${book.pages}__}" >Pages</h4>
                    	<h4 th:text="@{Language: __${book.language}__}" >Language</h4>
                    	<h4>Description:</h4>
                        <p th:text="${book.description}" ></p>
                        <p class="page-header"></p>
                    </div>
                    
                </div>
                
				<div class="row">
					<div class="col-lg-12">
					<h4 th:text="@{You can read or download __${book.title}__ right now:}" ></h4>
					</div>
            		<object th:attr="data=@{view?source=__${book.source}__}" type="application/pdf"> </object>
            	</div>
				
				<div class="row">
					<br/><div class="col-lg-12" sec:authorize="isAuthenticated()">
						<div id="ratingLabel">Rate this book:</div>
						<div id="ratyRating"></div>
					</div><br/>
					<h4 class="page-header">Comments:</h4>
					<h5 sec:authorize="hasRole('ROLE_ANONYMOUS')">You must be registered and logged in to comment and rate.</h5>
					<div class="col-lg-7">
						<form  id="commentForm" sec:authorize="isAuthenticated()">
							<div class="form-group">
								<textarea class="form-control" rows="3" id='commentText'></textarea>
							</div>
							<div class="submit">
				            	<input type="submit" class="btn btn-primary" value="Send" />
				            </div><br/>
				        </form>
				        
			        </div>
				</div>
				<div class="row">
					<div class="col-lg-8">
					<div id="commentsBlock"></div>
					</div>
				</div>
            </div>
            <div id="ratingResult"></div>

        </div>
        
    </div>		
	
	<script th:inline="javascript">
		
		var initialRatingScore = [[${initialRatingScore}]];//retrieve initScore argument from controller
		console.log(initialRatingScore);
			
		$(document).ready(ratyInit(initialRatingScore));
		
		function ratyInit(initScore) {
			
			if(initialRatingScore > 0) {
				$('#ratingLabel').text('Your rate:');
			}
			
		    $('#ratyRating').raty({
		    	 path: '/images/raty',
		    	 readOnly: Boolean(initScore > 0),
		    	 score: initScore,
		    	 click: function (score, evt) {
		    		 sendRate(score);
		    		 $('#ratingLabel').text('Thanks!');
		    		 ratyInit(score);
		    	 }
		    });
		}
		
		function sendRate(score) {
			
			var bookId = $("#bookTitle").attr("data-id");
			$.ajax({
				type: 'get',
			    url: '/book/rating',
			    data: {'score': score,
			      	   'bookId': bookId}
			});
		}
        
        function loadComments() {
        	
        	var url = '/book/comment?bookId=' + $("#bookTitle").attr("data-id");
        	$("#commentsBlock").load(url);
        	$("#commentText").val('');
        }
        
        $("#commentForm").submit(function(event) {
        	event.preventDefault();
        	
        	var $form = $(this),
					text = $form.find('textarea[id="commentText"]').val();
        	
        	if(text.trim()) {
        	
	        	var token = $("meta[name='_csrf']").attr("content");
	            var header = $("meta[name='_csrf_header']").attr("content");
	            var bookId = $("#bookTitle").attr("data-id");
		
	            var comment = {}
	                comment["text"] = text;
	                comment["author"] = "";
	                comment["date"] = "";
	           
	     		$(document).ajaxSend(function(e, xhr, options) {
	     			xhr.setRequestHeader(header, token);
	     			
	     		});
	     		
	     		$.ajax({
	     			
	     			url: "/book/comment?bookId=" + bookId,
					contentType : "application/json",
					method: 'POST',
					data : JSON.stringify(comment),
					dataType : 'json',
					cache: false, // Force requested pages not to be cached by the browser
					processData: false, // Avoid making query string instead of JSON
					success: function(data, textStatus, jqXHR) {
						   
						loadComments();
					},
					error:function(xhr, exception) {
	
					    loadComments();
					}
					
	     		});
        	}
     		
        });
        
	</script>	
           
    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <!-- Morris Charts JavaScript -->
    <script th:src="@{js/plugins/morris/raphael.min.js}"></script>
    <script th:src="@{js/plugins/morris/morris.min.js}"></script>
    <script th:src="@{js/plugins/morris/morris-data.js}"></script>

</body>

</html>